/* .home-container {
 
  height: 100vh;
  background-color: #dbd5c9;
  position: relative;
  margin: 0;
  padding: 0;
}



.images-container {
  width: 25vw;
  height: 20vw;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
  padding: 1rem;
  
}

.jumbotron-title {
  font-size: 5.2rem;
  color: #00001c;
} */





  


  